.box__contents__content
  = link_to user_item_path(item.id),method: :get,class: "contentlink" do
    %figure.figure
      %figcaption
        %span
          = item.description
      .tag
        %span{"aria-label" => "Price"} ¥ #{item.price}
        = image_tag "#{item.pictures.first.name}", class: 'tag__image'