%section.mypage__user__transactions
  %h2.mypage__user__transactions__transaction 出品した商品
  %ul.mypage__user__transactions__tabs
    %li.mypage__user__exhibit__now
      %h3.mypage__user__exhibit__now__tab.exhibit__active
        = link_to exhibit_list_user_path do
          出品中
    %li.mypage__user__exhibit__now
      %h3
        = link_to "#" do
          取引中
    %li.mypage__user__exhibit__now
      %h3
        = link_to "#" do
          売却済
  .mypage__user__tab__content
  - if @items != nil
    - @items.each do |item|
      %ul.mypage__user__tab__content__now
        %li
          = link_to item_path(item), class:"content__now__item" do
            .content__now__item__figure
              = image_tag "#{item.pictures.first.name}", class:"content__now__item__image"
            .content__now__item__area
              .content__now__item__area__name
                = item.name
              .content__now__item__area__reactions
                %span.content__now__item__area__reactions__reaction
                  %i.fa.fa-heart-o
                  %span.reaction__int
                    0
                %span.content__now__item__area__reactions__reaction
                  %i.fa.fa-comment-o
                  %span.reaction__int
                    0  
                  - if item.buyer_id == nil
                    出品中
                  - elsif item.buyer_id != nil 
                    売約済み
            %i.fa.fa-chevron-right