%header.header
  .inner
    .header-top
      %h1.logo
        = link_to "#" do
          %img{src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3135490372", width: "150px"}
      
      .fuzzy_search
        %form.fuzzy_search__field{ placeholder: "何かお探しですか？"}
          %input.fuzzy_search__label--btn{type: 'submit'}
          %label.fuzzy_search__label
            = fa_icon 'search', class: "fuzzy_search__label--icon"
        

    .header-bottom
      .header-bottom__left
        %ul.header-bottom__left__list
          %li.header-bottom__left__list__category
            %h2.header-bottom__left__list__category_field
              = link_to do
                = fa_icon 'list-ul', class: "o_icon-red"
                %span カテゴリーから探す
          %li
            %h2
              = link_to "#" do
                = fa_icon 'tag', class: "o_icon-red"
                %span ブランドから探す

      .header-bottom__right
        - if user_signed_in?
          %ul
            %li
              = link_to "#" do
                = fa_icon 'heart', class: "o_icon-gray"
                %span いいね一覧
            %li
              = link_to "#" do
                = fa_icon 'bell', class: "o_icon-gray"
                %span お知らせ
            %li
              = link_to "#" do
                = fa_icon 'check', class: "o_icon-gray"
                %span やることリスト
            %li
              = link_to "#" do
                -# %img.mypage-icon{:alt => "", :src => "https://static.mercdn.net/images/member_photo_noimage_thumb.png"}/
                .header-bottom__right--image 
                %span マイページ
        - else
          %ul
            %li
              = link_to "new_user_session_path", class: "user-new-btn" do
                新規会員登録
            %li
              = link_to "new_user_registration_path", class: "login-btn" do
                ログイン