%body
  .single-container
    %main.single-main
      %section.l-single-container
        %h2.l-single-head.registration 住所入力
        .l-single-content
          = form_for [@address], url: user_addresses_path, method: :post, html: {class: 'l-single-inner'} do |f|
            = render 'layouts/error_messages', model: f.object
            .field
              = f.label :郵便番号
              %spna.form-require 必須
              %br/
              = f.text_field :postcode, placeholder: "例 ）1234567" 
            .field
              = f.label :都道府県
              %spna.form-require 必須
              %br/
              .select-default
                = fa_icon 'chevron-down',class:'icon'
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name, :prompt => '---'
            .field
              = f.label :市区町村 
              %spna.form-require 必須
              %br/
              = f.text_field :city, placeholder: "例 ）横浜市緑区"
            .field
              = f.label :番地
              %spna.form-any 任意
              %br/
              = f.text_field :block, placeholder: "例 ）青山1-1-1" 
            .field
              = f.label :建物名
              %spna.form-any 任意
              %br/
              = f.text_field :building, placeholder: "例 ）柳ビル103" 
              
            .actions.btn-next
              = f.submit "次へ進む", class: "btn-default btn-red"