%main.purchase__main__contents
  %section.content
    %h2.content__title
      購入内容の確認
    %section.content__confirmations
      .content__confirmations__confirmation
        %h3.content__confirmations__confirmation__item__image
          = image_tag '/mercari_icon_gray.png'
        %p.content__confirmations__confirmation__item__explanation
          = @item.name
        .content__confirmations__confirmation__item__form
          %p.item__price
            ¥
            = @item.price
            %span.item__price__text
              送料込み
          %ul.user__point
            %li
              .user__point__text
                ポイントはありません
          %ul.payment
            %li.payment__buy
              .payment__buy__text
                支払い金額
              .payment__buy__prices
                %span.payment__buy__prices__price
                  ¥
                  = @item.price
          = link_to "購入する", pay_user_item_path, method: :post,class: "buy__it__action"

  %section.buy__user__info
    .buy__user__info__address
      %h3
        配送先
      %p
        〒
        = @address.postcode
        %br
        = @address.prefecture
        = @address.city
        = @address.block
        %br
        = current_user.name
      = link_to "#" do
        変更する
  %section.buy__user__card
    .buy__user__card__info
      %h3
        支払い方法
      .settings-payment-num 
        %p 
          **** **** ****
          = @creditcard_last4
          %br
          = @creditcard_exp_month
          \/
          = @creditcard_exp_year 
        %ul
        - case @creditcard_brand
        - when "Visa" then
          %ol
            =image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2482339763', width: "49",height: "20",alt: ""
        - when "MasterCard" then
          %ol
            =image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2482339763',width: "34",height: "20",alt: ""
        - when "Saison" then  
          %ol
            =image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?2482339763',width: "30",height: "20",alt: ""
        - when "Jcb" then  
          %ol
            =image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2482339763',width: "32",height: "20",alt: ""
        - when "AmericanExpress" then  
          %ol
            =image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?2482339763',width: "21",height: "20",alt: ""
        - when "DinersClub" then  
          %ol
            =image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2482339763',width: "32",height: "20",alt: ""
        - when "Discover" then  
          %ol
            =image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?2482339763',width: "32",height: "20",alt: ""
      = link_to "#" do
        変更する
    


  
