.item-show-main
  %section.item-box-container
    %h1.item-name 
      = @item.name
    .item-main-content
      .item-photo
        .owl-carousel.owl-loaded.owl-drag
          .owl-stage-outer
            .owl-item
              .owl-item-inner.is-higher-height
                = image_tag "#{@item.pictures.first.name}", class: "%img.owl-lazy"
          .owl-dots
            .owl-dot
              %span
              .owl-dot-inner
                = image_tag "#{@item.pictures.first.name}", class: "%img.is-higher-height"
            .owl-dot.active
              %span
              .owl-dot-inner
              = image_tag "#{@item.pictures.first.name}", class: "%img.is-higher-height"
            .owl-dot
              %span
              .owl-dot-inner
                = image_tag "#{@item.pictures.first.name}", class: "%img.is-higher-height"
            .owl-dot
              %span
              .owl-dot-inner
                = image_tag "#{@item.pictures.first.name}", class: "%img.is-higher-height"

      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              =link_to "https://www.mercari.com/jp/u/191455761/",class: "contents__btn" do
                = @item.user.name
              %div
                .item-user-ratings
                  %i.icon-good
                    .icon-good::before
                  %span 143
                .item-user-ratings
                  %i.icon-normal
                    .icon-normal::before
                  %span 3
                .item-user-ratings
                  %i.icon-bad
                    .icon-bad::before
                  %span 1
          %tr
            %th カテゴリー
            %td
              =link_to "https://www.mercari.com/jp/category/1/",class: "contents__btn" do
                = @item.category.parent.parent.name
                %br
              
              =link_to "https://www.mercari.com/jp/category/20/",class: "item-detail-table-sub-category" do
                %i.icon-arrow-right
                = @item.category.parent.name
                %br
              =link_to "https://www.mercari.com/jp/category/214/",class: "item-detail-table-sub-sub-category" do
                %i.icon-arrow-right
                = @item.category.name
                %br

              
          %tr
            %th ブランド
            %td
              =link_to "https://www.mercari.com/jp/brand/539/",class: "" do
                %div
                  コーチ
          %tr
            %th 商品の状態
            %td 新品、未使用
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td らくらくメルカリ便
          %tr
            %th 配送元地域
            %td
              =link_to "https://www.mercari.com/jp/brand/539/",class: "" do
                埼玉県
          %tr
            %th 発送日の目安
            %td 1~2日で発送



    .item-price-box
      %span.item-price.bold
        = "¥#{@item.price}"
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    .text-center
      .sales-point-message
        P1,000 をお持ちです
        .sales-point-message:after
    =link_to "https://www.mercari.com/jp/transaction/buy/m95010021448/",class: "item-buy-btn" do
      購入画面に進む


    .item-description.f14
      %p.item-description-inner
        = @item.description


    .item-button-container
      .item-button-left
        %button.item-button.item-button-like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m95010021448", "data-toggle" => "like", :name => "like!", :type => "button"}
          %i.icon-like-border
            .icon-like-border:before
          %span いいね!
          %span.fade-in-down{"data-num" => "like"} 9

        =link_to "",class: "item-button item-button-report clearfix" do
          %i.icon-flag
          %span 
            不適切な商品の報告
        %input{name: "like_add_url", type: "hidden", value: "https://www.mercari.com/jp/like/add/m95010021448/"}/
        %input{name: "like_del_url", type: "hidden", value: "https://www.mercari.com/jp/like/delete/m95010021448/"}/
        %input{name: "__csrf_value", type: "hidden", value: "c4ef71dd1bf937e255edf491fe58d1524c28427897da890a46b22af3f9c5e9cd14cc826c77f8380ee5fa42e40d86ccd00465ca8c17798797a3da10d151ac47a1d"}/
      .item-button-right
        =link_to "https://www.mercari.com/jp/safe/description/", class: "icon-lock",target: "_blank" do
          .icon-lock::before
            %span あんしん・あんぜんへの取り組み

  = link_to user_item_path,method: :delete,class: "item-delete-btn" do
    この商品を削除する

  .item-detail-message
    .message-container
      .message-content
        %form.message-form{action: "https://www.mercari.com/jp/comment/add/", method: "POST"}
          %input{name: "__csrf_value", type: "hidden", value: "c4ef71dd1bf937e255edf491fe58d1524c28427897da890a46b22af3f9c5e9cd14cc826c77f8380ee5fa42e40d86ccd00465ca8c17798797a3da10d151ac47a1d"}/
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %input{name: "item_id", type: "hidden", value: "m95010021448"}/
          %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}/
          %textarea.textarea-default{name: "body", type: "text", value: ""}
          %button.message-submit.btn-default.btn-gray{type: "submit"}
            %span コメントする

  %ul.nav-item-link-prev-next.clearfix
    %li.nav-item-link-prev
      =link_to "https://item.mercari.com/jp/m98456629363/", class: "i.icon-arrow-left" do
        スカート スカッツ
    %li.nav-item-link-next
      =link_to "https://item.mercari.com/jp/m16116597761/", class: "i.icon-arrow-right" do
        ワンピース

  .item-social-media-box
    .text-center
      .fb-save.fb_iframe_widget{"data-uri" => "product://113299479059860/m95010021448", "fb-iframe-plugin-query" => "app_id=466308336793848&container_width=700&locale=ja_JP&sdk=joey&uri=product%3A%2F%2F113299479059860%2Fm95010021448", "fb-xfbml-state" => "rendered"}
        %span{:style => "vertical-align: top; width: 0px; height: 0px; overflow: hidden;"}
          %iframe{allow: "encrypted-media", allowfullscreen: "true", allowtransparency: "true", frameborder: "0", height: "1000px", name: "f382a8193f1d74", scrolling: "no", src: "https://www.facebook.com/v2.5/plugins/save.php?app_id=466308336793848&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Dfe89f7a68db4c4%26domain%3Ditem.mercari.com%26origin%3Dhttps%253A%252F%252Fitem.mercari.com%252Ff2cb4d7ea0ca95c%26relation%3Dparent.parent&container_width=700&locale=ja_JP&sdk=joey&uri=product%3A%2F%2F113299479059860%2Fm95010021448", style: "border: none; visibility: visible; width: 0px; height: 0px;", title: "fb:save Facebook Social Plugin", width: "1000px"}
    %ul.social-media-box
      %li
        =link_to "#", class: "share-btn" do
          %i.icon-facebook
            = fa_icon 'facebook', class:"i.icon-facebook"
      %li
        =link_to "http://twitter.com/share?count=horizontal&original_referer=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm95010021448%2F&text=COACH%20%E2%98%86%20%E3%82%B3%E3%83%BC%E3%83%81%20%E3%83%8F%E3%83%B3%E2%80%A6%20%28%C2%A518%2C800%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm95010021448%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89", class: "share-btn",target: "_blank" do
          %i.icon-twitter
            = fa_icon 'facebook', class:"i.icon-facebook"
      %li
        =link_to "http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm95010021448%2F&media=https%3A%2F%2Fstatic.mercdn.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm95010021448_1.jpg%3F1560301518&description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20COACH%20%E2%98%86%20%E3%82%B3%E3%83%BC%E3%83%81%20%E3%83%8F%E3%83%B3%E3%83%89%2F%E3%82%B7%E3%83%A7%E3%83%AB%E3%83%80%E3%83%BC%E3%83%90%E3%83%83%E3%82%B0%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA", class: "share-btn",target: "_blank" do
          %i.icon-pinterest
            = fa_icon 'facebook', class:"i.icon-facebook"



  .items-in-user-profile
    .items-box-container
      .items-box-head
        カズさんのその他の出品
      .items-box-content

        %section.items-box
          %figure.items-box-photo
            %img.lazyloaded{alt: "ラグビ", "data-src" => "test_content.jpg", src: "https://static.mercdn.net/thumb/photos/m12309655920_1.jpg?1565642720"}/
          .items-box-body
            %h3.items-box-name.font-2 フリーヘーテンコーナーソファーベッド
            .items-box-num
              .items-box-price.font-5 ¥79,646
              .font-2
                %i.icon-like-border
                %span 1

        %section.items-box
          %figure.items-box-photo
            %img.lazyloaded{alt: "ラグビ", "data-src" => "test_content.jpg", src: "https://static.mercdn.net/thumb/photos/m12309655920_1.jpg?1565642720"}/
          .items-box-body
            %h3.items-box-name.font-2 フリーヘーテンコーナーソファーベッド
            .items-box-num
              .items-box-price.font-5 ¥79,646
              .font-2
                %i.icon-like-border
                %span 1

        %section.items-box
          %figure.items-box-photo
            %img.lazyloaded{alt: "ラグビ", "data-src" => "test_content.jpg", src: "https://static.mercdn.net/thumb/photos/m12309655920_1.jpg?1565642720"}/
          .items-box-body
            %h3.items-box-name.font-2 フリーヘーテンコーナーソファーベッド
            .items-box-num
              .items-box-price.font-5 ¥79,646
              .font-2
                %i.icon-like-border
                %span 1


    .items-in-user-profile
    .items-box-container
      .items-box-head
        カズさんのコーチの出品
      .items-box-content

        %section.items-box
          %figure.items-box-photo
            %img.lazyloaded{alt: "ラグビ", "data-src" => "test_content.jpg", src: "https://static.mercdn.net/thumb/photos/m12309655920_1.jpg?1565642720"}/
          .items-box-body
            %h3.items-box-name.font-2 フリーヘーテンコーナーソファーベッド
            .items-box-num
              .items-box-price.font-5 ¥79,646
              .font-2
                %i.icon-like-border
                %span 1

        %section.items-box
          %figure.items-box-photo
            %img.lazyloaded{alt: "ラグビ", "data-src" => "test_content.jpg", src: "https://static.mercdn.net/thumb/photos/m12309655920_1.jpg?1565642720"}/
          .items-box-body
            %h3.items-box-name.font-2 フリーヘーテンコーナーソファーベッド
            .items-box-num
              .items-box-price.font-5 ¥79,646
              .font-2
                %i.icon-like-border
                %span 1

        %section.items-box
          %figure.items-box-photo
            %img.lazyloaded{alt: "ラグビ", "data-src" => "test_content.jpg", src: "https://static.mercdn.net/thumb/photos/m12309655920_1.jpg?1565642720"}/
          .items-box-body
            %h3.items-box-name.font-2 フリーヘーテンコーナーソファーベッド
            .items-box-num
              .items-box-price.font-5 ¥79,646
              .font-2
                %i.icon-like-border
                %span 1


%nav.bread-crumbs.pos-bottom
  %ul
    %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
      =link_to "https://www.mercari.com/jp/", itemprop: "url" do
        %span{itemprop: "title"} メルカリ
      %i.icon-arrow-right
        .icon-good:before
    %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
      %span{itemprop: "title"} COACH ☆ コーチ ハンド/ショルダーバッグ