!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    %title FreemarketSample58e
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
    = render "layouts/flash"
    = render "/shared/header"

    = yield 

    %footer
      = render "/shared/footer"
    -if controller.controller_name != "signup" && "devise" && "address" || (controller.controller_name == "items" && controller.action_name != "new") && ( controller.controller_name =="card" && controller.action_name != "new" && "create") || (controller.controller_name == "user" && controller.action_name != "signup")
      %global-footer
        = render "/shared/sell-btn" 